<br>
<div id="wrapper">

    <!-- Page Content -->

    <div class="container">

        <div class="row">
            <div class="col-lg-2">
            </div>
            <!-- Page Content Column -->
            <div class="panel col-lg-8" style="background-color: #ffefe5; border-radius: 25px; border-style: groove;">

                <!-- issue Title -->
                <h2><u>{{issue.name}}</u></h2>
                <hr>

                <!-- Author -->
                <p class="small">
                    by <a href="#">{{issue.user.login}}</a>
                </p>
                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{issue.created_date | date:'yyyy-MM-dd
                    HH:mm:ss'}}</p>

                <!--Issue  Content -->
                <div class="pull-left" style="font-size:15pt;text-align:center;">
                    <div id="increaseButton"><i class="glyphicon glyphicon-chevron-up"
                                                title="+1 Vote Up (This is useful)"></i></div>
                    <div style="color:#737373;" id="rating" title="Number of user votes (rating)">{{issue.rating}}</div>
                    <div id="decreaseButton"><i class="glyphicon glyphicon-chevron-down" title="-1 Vote Down"></i></div>
                </div>
                <div class="col-lg-11">
                    <p style="font-size: 15px">{{issue.content}}</p>
                </div>

            </div>
            <div class="col-lg-2"></div>
        </div>
        <br>
        <br>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-8"><h3>2 Answers</h3>
                <hr>
            </div>
        </div>


        <!-- Posted Comments -->
        <!-- Comment -->

        <div class="row" ng-repeat="comment in comments">
            <div class="col-lg-2"></div>
            <div class="panel  col-lg-8 media" style="background-color: #FFFFCC">

                <!-- Comment -->
<!--
                <div class="panel pull-left" style="background-color: #f5f5f5; border: 1px solid; margin-right: 20px">
                    by {{comment.user.login}}
                    <br/>
                    <small>August 25, 2014 <br/>
                        at 9:30 PM
                    </small>
                </div>-->
                <div ng-show="(loggedUser.id == issue.user.id && checkSolution() == -100)  || (checkSolution() == {{comment.id}})" class="pull-left">
                    <br/>
                    <a ng-click="markOrUnmarkSolution(comment)">
                        <span id="solution{{comment.id}}" style="font-size:2.5em; color: grey" class="glyphicon glyphicon-ok-circle"></span>
                    </a>
                </div>

                <div class="media-body">
                    <!--TO DO ANCA comment title & date-->

                    <h4 class="media-heading"><u>Comment title</u>
                        <small>by {{comment.user.login}},August 25, 2014,at 9:30 PM
                        </small>
                        <br/>
                    </h4>
                    <br>

                    <p style="word-wrap: break-word">{{comment.content}}</p>

                    <!-- Nested Comment -->
                    <!--TO DO ANCA reply to comment-->
                    <hr>
                    <div class="media" style="margin-left:20px" >

                        <div class="media-body">
                            <h4 class="media-heading"><u>Reply to comment</u>
                                <small>August 25, 2014 at 9:30 PM, by User reply</small>
                            </h4>
                            <br>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                            sollicitudin
                            commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce
                            condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>
                    <!-- End Nested Comment -->
                </div>

                <hr>

                <!-- Comments Form -->
            </div>
<!--            <div ng-show="(loggedUser.id == issue.user.id && checkSolution() == -100)  || (checkSolution() == {{comment.id}})" class="col-lg-2">
                <br/>
                    <a ng-click="markOrUnmarkSolution(comment)">
                        <span id="solution{{comment.id}}" style="font-size:2.5em; color: grey" class="glyphicon glyphicon-ok-circle"></span>
                    </a>
            </div>-->
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="well">
                    <h4>Leave answer:</h4>

                    <form role="form">
                        <div class="form-group">
                            <textarea ng-model="newComment.content" class="form-control" rows="3"></textarea>
                        </div>
                        <button ng-click="save()" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>


