<div class="modal fade" id="deleteDepartmentIntention">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="deleteForm" ng-submit="confirmDelete(department.id)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;</button>
                    <h4 class="modal-title">Stergere departament</h4>
                </div>
                <div class="modal-body">
                    <p>Sigur doriti stergerea departamentului {{department.name}}?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>Anuleaza
                    </button>
                    <button type="submit" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span>Sterge!
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteProjectIntention">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="deleteForm" ng-submit="confirmDeleteProject(project.id)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()"></button>
                    <h4 class="modal-title">Stergere proiect!</h4>
                </div>
                <div class="modal-body">
                    <p>Sunteti siguri ca doriti sa stergeti proiectul {{project.name}}?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;>Anuleaza
                    </button>
                    <button type="submit" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle">Sterge</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="wrapperOrganizations">

    <!-- Page Content -->

    <div class="container">
        <div class="panel">
            <div class="panel-heading">
                <h2 class="panel-title" align="center">
                    Adaugare organizatie
                </h2>
            </div>
            <br/><br/><br/>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <alert ng-repeat="alert in alerts track by $index" type="{{alert.type}}"
                                   close="closeAlert($index)">{{alert.msg}}
                            </alert>
                            <label for="orgNameInput" style="display: inline-block">Nume</label>
                            <input type="text" ng-readonly="orgSaved == true" class="form-control" id="orgNameInput"
                                   ng-model="organization.name"/>
                            <br/><br/>
                            <button type="submit" ng-disabled="!isNameCompleted()" ng-hide="orgSaved"
                                    ng-click="submitOrganization()" class="btn btn-primary">
                                <span class="glyphicon glyphicon-ok"></span>&nbsp;Salveaza!
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3"></div>

                </div>
                <br/><br/><br/>

                <div class="row">
                    <tabset justified="true">
                        <tab heading="{{tabs[1].title}}">
                            <br/>

                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <button class="btn btn-primary" ui-sref="create-dep({orgId: organization.id})">
                                            <span class="glyphicon glyphicon-plus"></span> Adauga departament
                                            <small> - pentru organizatia creata</small>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <br/>

                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Nume</th>
                                        <th>Organizatie</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="department in departments track by department.id">
                                        <td>{{department.name}}</td>
                                        <td>
                                            <a>{{department.organization.name}}</a>
                                        </td>
                                        <td>
                                            <button type="submit"
                                                    ui-sref="edit-dep({depId:department.id, orgId: department.organization.id})"
                                                    class="btn btn-primary btn-sm">
                                                <span class="glyphicon glyphicon-pencil"></span> Edit
                                            </button>
                                            <button type="submit"
                                                    ng-click="delete(department.id)"
                                                    class="btn btn-danger btn-sm">
                                                <span class="glyphicon glyphicon-remove-circle"></span>Sterge
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <nav>
                                    <ul class="pager">
                                        <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a
                                            href="#">&lt;&lt;</a></li>
                                        <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a href="#">
                                            &lt;</a></li>
                                        <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">
                                            &gt;</a></li>
                                        <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a href="#">
                                            &gt;&gt;</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </tab>
                        <tab heading="{{tabs[2].title}}">
                            <br/>

                            <div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <button class="btn btn-primary" ui-sref="create-proj">
                                                <span class="glyphicon glyphicon--plus"></span>Creaza un nou proiect
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>

                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Nume</th>
                                        <th>Descriere</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="project in projects track by project.id">
                                        <td>{{project.name}}</td>
                                        <td>{{project.description}}</td>
                                        <td>
                                            <button type="submit"
                                                    ui-sref="edit-proj({id:project.id})"
                                                    class="btn btn-primary btn-sm">
                                                <span class="glyphicon glyphicon-pencil"></span>Editeaza
                                            </button>
                                            <button type="submit"
                                                    ng-click="deleteProject(project.id)"
                                                    class="btn btn-danger btn-sm">
                                                <span class="glyphicon glyphicon-remove-circle"></span>Sterge
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <nav>
                                    <ul class="pager">
                                        <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a
                                            href="#">&lt;&lt;</a></li>
                                        <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a href="#">
                                            &lt;</a></li>
                                        <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">
                                            &gt;</a></li>
                                        <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a href="#">
                                            &gt;&gt;</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>


