<div id="wrapper">
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li ng-repeat="organization in userOrganizations">
                    <a ng-click="loadPostsFromOrganisation(organization.id)"><i class="fa fa-sitemap fa-fw"></i>{{organization.name}}<span
                        class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li ng-repeat="dep in userDepartments[organization.id] track by dep.id"
                            ng-init="$last ? fireEvent() : angular.noop()">
                            <a  ng-click="loadPostsFromDep(dep.id)" href="#">{{dep.name}}</a>
                            <ul class="nav nav-third-level">
                                <li ng-repeat="proj in projects[dep.id] track by proj.id">
                                    <a ng-click="loadPostsFromProject(proj.id)" href="#">{{proj.name}}
                                        <p>
                                            <small style="color:grey">{{proj.description}}</small>
                                        </p>
                                    </a>

                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
            </ul>
        </div>
    </div>
    <!-- /.sidebar-collapse -->
    <!-- /.navbar-static-side -->
    </nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-8">
                <div ui-view="issuesz"></div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-gg-circle"></i> Top Users
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item" ng-repeat="user in users">
                                <i class="fa fa-user"></i> {{user.login}}
                                    <span class="pull-right text-muted small"><em>{{user.points}}</em>
                                    </span>
                            </a>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->

            </div>
        </div>
    </div>
</div>
