<!-- Modal content-->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myIssueLabel" translate="qorumApp.issue.home.createOrEditLabel">Create or edit a
            Issue</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="issue.id" readonly/>
        </div>
        <div class="form-group">
            <label translate="qorumApp.issue.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   ng-model="issue.name"
                />
        </div>
        <div class="form-group">
            <label translate="qorumApp.issue.content" for="field_content">Content</label>
            <textarea class="form-control" name="content" id="field_content" rows="3"
                   ng-model="issue.content"
                />
        </div>
        <div class="form-group">
            <label translate="qorumApp.issue.is_public" for="field_is_public">Is_public</label>
            <input type="checkbox" class="form-control" name="is_public" id="field_is_public"
                   ng-model="issue.is_public"
                />
        </div>
        <div class="form-group">
            <label translate="qorumApp.issue.project" for="field_project">project</label>
            <select class="form-control" id="field_project" name="project" ng-model="issue.project"
                    ng-options="project as project.name for project in projects track by project.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="qorumApp.issue.departments" for="field_departments">departments</label>
            <select class="form-control" id="field_departments" multiple name="departments" ng-model="issue.departments" ng-options="department as department.name for department in departments track by department.id"></select>
        </div>
        <div class="form-group">
            <label translate="qorumApp.issue.tag" for="field_tag">tag</label>
            <select class="form-control" id="field_tag" multiple name="tag" ng-model="issue.tags"
                    ng-options="tag as tag.name for tag in tags track by tag.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary" ng-click="save()">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</div>

