<div>
    <div class="modal fade" id="deleteIssueConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(issue.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="qorumApp.issue.delete.question" translate-values="{id: '{{issue.id}}'}">Are you
                            sure you want to delete this Issue?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--<div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="global.field.id">ID</th>
                <th translate="qorumApp.issue.name">Name</th>
                <th translate="qorumApp.issue.content">Content</th>
                <th translate="qorumApp.issue.last_updated">Last_updated</th>
                <th translate="qorumApp.issue.created_date">Created_date</th>
                <th translate="qorumApp.issue.rating">Rating</th>
                <th translate="qorumApp.issue.is_public">Is_public</th>
                <th translate="qorumApp.issue.user">user</th>
                <th translate="qorumApp.issue.project">project</th>
                <th translate="qorumApp.issue.department">department</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="issue in issues track by issue.id">
                <td><a ui-sref="issue.detail({id:issue.id})">{{issue.id}}</a></td>
                <td>{{issue.name}}</td>
                <td>{{issue.content}}</td>
                <td>{{issue.last_updated | date:'medium'}}</td>
                <td>{{issue.created_date | date:'medium'}}</td>
                <td>{{issue.rating}}</td>
                <td>{{issue.is_public}}</td>
                <td>
                    {{issue.user.login}}
                </td>
                <td>
                    <a ui-sref="project.detail({id:issue.project.id})">{{issue.project.name}}</a>
                </td>
                <td>
                    <a ui-sref="department.detail({id:issue.department.id})">{{issue.department.name}}</a>
                </td>
                <td>
                    <button type="submit"
                            ui-sref="issue.detail({id:issue.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="issue.edit({id:issue.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit"
                            ng-click="delete(issue.id)"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>-->
    <div>
        <div class="panel panel-default" ng-repeat="issue in issues track by issue.id">
            <!--<div class="panel-heading">

            </div>-->
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-9">

                        <span ng-class="{ 'issue-title': issue.hasSolution, 'issue-title-no': !issue.hasSolution }">
                            <i ng-class="{'glyphicon glyphicon-remove-sign' : !issue.hasSolution, 'glyphicon glyphicon-ok-sign' : issue.hasSolution}"></i>
                            <a ui-sref="issue-comments({issueId:issue.id})"
                               ng-class="{ 'issue-title': issue.hasSolution, 'issue-title-no': !issue.hasSolution }">
                                {{issue.name}}</a>
                        </span>

                        <p style="margin-left:15px; margin-bottom: 0;">
                            <small class="text-muted"><i class="fa fa-clock-o"></i> {{timeago(issue.created_date)}}
                            </small>
                        </p>
                    </div>
                    <div class="issue-info col-md-1">
                        <div class="row">
                            <p> Answers </p>
                        </div>
                        <div class="row">
                            <p> {{issue.commentsNo}} </p>
                        </div>
                    </div>
                    <div class="issue-info col-md-1">
                        <div class="row">
                            <p> Rating </p>
                        </div>
                        <div class="row">
                            <p> {{issue.rating}} </p>
                        </div>
                    </div>
                    <div class="issue-info col-md-1">
                        <div class="row">
                            <p> Views </p>
                        </div>
                        <div class="row">
                            <p> {{issue.views}} </p>
                        </div>
                    </div>
                </div>
                <hr class="separator-qorum">
                <div class="row">
                    <div class="col-md-12">
                        {{issue.content}}
                    </div>
                    <!--<div class="col-md-3">
                        <button type="submit"
                                ui-sref="issue-comments({issueId:issue.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span
                            translate="entity.action.view"> View</span>
                        </button>
                    </div>-->
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <nav>
            <ul class="pager">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><span>&lt;&lt;</span></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><span>&lt;</span></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><span>&gt;</span></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><span>&gt;&gt;</span></li>
            </ul>
        </nav>
    </div>
</div>
